### Import Data

In [1]:
import pandas as pd

import calendar
import datetime

### Find Duplicate Rows based on all columns

In [12]:
# Select duplicate rows except first occurrence based on all columns

# duplicateRowsDF = data[data.duplicated()]
# print("Duplicate Rows except first occurrence based on all columns are :")
# print(duplicateRowsDF)

### Find Duplicate Rows based on selected columns

In [15]:
# Select all duplicate rows based on one column

data = data[data.duplicated(['generation_time'])]
data
# print("Duplicate Rows based on a single column are:", data_dup, sep='\n')

          name      generation_time            eng_value
130954  TTH15A   315964929320781250            19.352227
130957  TTH15A   315967105320781250            19.311741
192073  TTH15A   315968513320781250            20.215054
130959  TTH15A   315969281320781250            19.230769
337528  TTH15A   572624160648906250   25.591397849462368
106310  TTH15A  1458131040902812500    18.62348178137652
6180    TTH15A  1468562516652812500            21.774194
6181    TTH15A  1468562772652812500            21.827957
6182    TTH15A  1468563028652812500            21.881720
6183    TTH15A  1468563540652812500            21.827957
6184    TTH15A  1468563668648906250            22.150538
6185    TTH15A  1468563924652812500            21.989247
6186    TTH15A  1468564052648906250            21.935484
6187    TTH15A  1468564180648906250            21.881720
6188    TTH15A  1468564820645000000            21.827957
6189    TTH15A  1468565204645000000            21.989247
6190    TTH15A  1468565332652812500            22.043011
6191    TTH15A  1468565460652812500            21.989247
6192    TTH15A  1468565588652812500            21.935484
6193    TTH15A  1468565844652812500            21.881720
6194    TTH15A  1468566612652812500            21.827957
6195    TTH15A  1468566868652812500            21.881720
6196    TTH15A  1468567124652812500            21.827957
6197    TTH15A  1468567636652812500            21.774194
6198    TTH15A  1468568660652812500            21.720430
6199    TTH15A  1468569556641093750            21.774194
6200    TTH15A  1468569684652812500            21.881720
6201    TTH15A  1468569812648906250            21.827957
6202    TTH15A  1468569940648906250            21.774194
6174    TTH15A  1478229588656718750            18.947368
...        ...                  ...                  ...
248110  TTH15A  2267792157152812500   18.785425101214575
186649  TTH15A  3010443081152812500            20.537634
154082  TTH15A  4294967295145000000            20.860215
151335  TTH15A  4294967295152812500            21.989247
148035  TTH15A  4294967295152812500    19.91902834008097
327267  TTH15A  4294967295152812500            25.537634
327257  TTH15A  4294967295152812500   25.537634408602152
155108  TTH15A  4294967295152812500            20.913978
159150  TTH15A  4294967295152812500             6.570513
335751  TTH15A  4294967295602031250            18.299595
340587  TTH15A  4294967295648906250            22.204301
296450  TTH15A  4294967295648906250             *NO VAL*
335752  TTH15A  4294967295648906250            15.668016
335696  TTH15A  4294967295648906250   15.668016194331983
221911  TTH15A  4294967295648906250            19.878543
34934   TTH15A  4294967295652812500     19.6761133603239
335759  TTH15A  4294967295652812500            24.408602
273148  TTH15A  4294967295652812500             *NO VAL*
269068  TTH15A  4294967295687968750  -13.848167539267015
96850   TTH15A  4294967295687968750             *NO VAL*
100244  TTH15A  4294967295898906250            18.785425
144421  TTH15A  4294967295898906250            15.789474
106369  TTH15A  4294967295898906250            17.246964
96992   TTH15A  4294967295902812500    19.51417004048583
96982   TTH15A  4294967295902812500   19.676113360323885
106370  TTH15A  4294967295902812500            18.582996
106319  TTH15A  4294967295902812500  -13.507853403141361
108606  TTH15A  4294967295902812500   21.344086021505376
108920  TTH15A  4294967295902812500            21.344086
106322  TTH15A  4294967295902812500   18.582995951417004

[81905 rows x 3 columns]

### Counts for multiindex

In [16]:
# data.set_index(['generation_time', 'eng_value']).count(level='generation_time')

data = data.pivot_table(index=['generation_time'], aggfunc='size')
data

generation_time
315964929320781250     1
315967105320781250     1
315968513320781250     1
315969281320781250     1
572624160648906250     1
1458131040902812500    1
1468562516652812500    1
1468562772652812500    1
1468563028652812500    1
1468563540652812500    1
1468563668648906250    1
1468563924652812500    1
1468564052648906250    1
1468564180648906250    1
1468564820645000000    1
1468565204645000000    1
1468565332652812500    1
1468565460652812500    1
1468565588652812500    1
1468565844652812500    1
1468566612652812500    1
1468566868652812500    1
1468567124652812500    1
1468567636652812500    1
1468568660652812500    1
1468569556641093750    1
1468569684652812500    1
1468569812648906250    1
1468569940648906250    1
1478229588656718750    1
                      ..
1589290776902812500    1
1589291160898906250    1
1589291544898906250    1
1589292696895000000    1
1589292952898906250    1
1589293056895000000    1
1589293224895000000    1
1589293232895000000    1
1589293240895000000    1
1589293248895000000    1
1589293328895000000    1
1589293336895000000    1
1589293344895000000    1
1589293376895000000    1
1589293384895000000    1
1606262400715312500    1
1636003424902812500    1
1876488120852031250    1
1912809600895000000    1
2229086120902812500    1
2267792157152812500    1
3010443081152812500    1
4294967295145000000    1
4294967295152812500    6
4294967295602031250    1
4294967295648906250    5
4294967295652812500    3
4294967295687968750    2
4294967295898906250    3
4294967295902812500    7
Length: 81873, dtype: int64

In [6]:
data.set_index(['generation_time', 'eng_value']).count(level='generation_time')

                     name
generation_time
315964849320781250      1
315964929320781250      2
315965697320781250      1
315966209320781250      1
315966849320781250      1
315966977320781250      1
315967105320781250      2
315968257320781250      1
315968385320781250      2
315968513320781250      3
315968641320781250      1
315968769320781250      1
315968897320781250      1
315969153320781250      3
315969281320781250      2
315969409320781250      2
315969537320781250      2
315969665320781250      1
315969793320781250     15
315969921320781250     30
315970049320781250     17
315970177320781250     24
315970305320781250      5
315970433320781250     28
315970561320781250     13
315970945320781250      1
315971073320781250      1
315971329320781250      1
315972833320781250      1
315973089320781250      1
...                   ...
1589378536895000000     1
1589378544895000000     1
1606262400715312500     2
1630942848148906250     1
1636003424902812500     2
1671753600648906250     2
1696821216902812500     1
1755043200270000000     2
1866894088902812500     1
1876488120852031250     2
1912809600895000000     2
2229086120902812500     2
2267792157152812500     2
2288441968652812500     2
3010443081152812500     2
4294967295145000000     2
4294967295152812500     7
4294967295164531250     1
4294967295215312500     1
4294967295242656250     1
4294967295410625000     1
4294967295602031250     2
4294967295648906250     6
4294967295652812500     4
4294967295656718750     1
4294967295687968750     3
4294967295715312500     1
4294967295840312500     2
4294967295898906250     4
4294967295902812500     8

[200109 rows x 1 columns]

In [7]:
dups_color_and_shape = data.pivot_table(index=['generation_time','eng_value'], aggfunc='size')
print (dups_color_and_shape)

generation_time      eng_value
315964849320781250   18.502024               1
315964929320781250   19.352227               1
                     20.322581               1
315965697320781250   19.311741               1
315966209320781250   20.268817               1
315966849320781250   20.322581               1
315966977320781250   19.271255               1
315967105320781250   19.311741               1
                     20.268817               1
315968257320781250   19.271255               1
315968385320781250   *NO VAL*                2
315968513320781250   *NO VAL*                2
                     20.215054               1
315968641320781250   *NO VAL*                1
315968769320781250   *NO VAL*                1
315968897320781250   *NO VAL*                1
315969153320781250   *NO VAL*                3
315969281320781250   *NO VAL*                1
                     19.230769               1
315969409320781250   *NO VAL*                2
315969537320781250   *NO VAL*                2
315969665320781250   *NO VAL*                1
315969793320781250   *NO VAL*               15
315969921320781250   *NO VAL*               30
315970049320781250   *NO VAL*               17
315970177320781250   *NO VAL*               24
315970305320781250   *NO VAL*                5
315970433320781250   *NO VAL*               28
315970561320781250   *NO VAL*               13
315970945320781250   20.161290               1
                                            ..
4294967295602031250  18.299595               1
                     18.299595141700404      1
4294967295648906250  *NO VAL*                1
                     15.668016               1
                     15.668016194331983      1
                     19.878543               1
                     22.204301               1
                     22.204301075268816      1
4294967295652812500  *NO VAL*                1
                     19.6761133603239        1
                     24.408602               1
                     24.408602150537632      1
4294967295656718750  63.2608695652174        1
4294967295687968750  *NO VAL*                1
                     -13.848167539267015     1
                     -13.848168              1
4294967295715312500  -11.492147              1
4294967295840312500  *NO VAL*                2
4294967295898906250  15.789474               1
                     17.246963562753038      1
                     17.246964               1
                     18.785425               1
4294967295902812500  -13.507853              1
                     -13.507853403141361     1
                     18.582995951417004      1
                     18.582996               1
                     19.51417004048583       1
                     19.676113360323885      1
                     21.344086               1
                     21.344086021505376      1
Length: 282014, dtype: int64

In [8]:
# sorting date of data by generation time 
# เรียงลำดับข้อมูลใหม่ตามเวลา
data.sort_values(by=['generation_time'], inplace=True)

data

          name      generation_time            eng_value
61549   TTH15A   315964849320781250            18.502024
192069  TTH15A   315964929320781250            20.322581
130954  TTH15A   315964929320781250            19.352227
130955  TTH15A   315965697320781250            19.311741
192070  TTH15A   315966209320781250            20.268817
192071  TTH15A   315966849320781250            20.322581
130956  TTH15A   315966977320781250            19.271255
192072  TTH15A   315967105320781250            20.268817
130957  TTH15A   315967105320781250            19.311741
130958  TTH15A   315968257320781250            19.271255
192196  TTH15A   315968385320781250             *NO VAL*
192113  TTH15A   315968385320781250             *NO VAL*
192197  TTH15A   315968513320781250             *NO VAL*
192114  TTH15A   315968513320781250             *NO VAL*
192073  TTH15A   315968513320781250            20.215054
192116  TTH15A   315968641320781250             *NO VAL*
192117  TTH15A   315968769320781250             *NO VAL*
192198  TTH15A   315968897320781250             *NO VAL*
192118  TTH15A   315969153320781250             *NO VAL*
192199  TTH15A   315969153320781250             *NO VAL*
192245  TTH15A   315969153320781250             *NO VAL*
192246  TTH15A   315969281320781250             *NO VAL*
130959  TTH15A   315969281320781250            19.230769
192200  TTH15A   315969409320781250             *NO VAL*
192119  TTH15A   315969409320781250             *NO VAL*
192247  TTH15A   315969537320781250             *NO VAL*
192202  TTH15A   315969537320781250             *NO VAL*
192203  TTH15A   315969665320781250             *NO VAL*
193379  TTH15A   315969793320781250             *NO VAL*
192120  TTH15A   315969793320781250             *NO VAL*
...        ...                  ...                  ...
335751  TTH15A  4294967295602031250            18.299595
340467  TTH15A  4294967295648906250   22.204301075268816
340587  TTH15A  4294967295648906250            22.204301
296450  TTH15A  4294967295648906250             *NO VAL*
335752  TTH15A  4294967295648906250            15.668016
335696  TTH15A  4294967295648906250   15.668016194331983
221911  TTH15A  4294967295648906250            19.878543
335703  TTH15A  4294967295652812500   24.408602150537632
34934   TTH15A  4294967295652812500     19.6761133603239
335759  TTH15A  4294967295652812500            24.408602
273148  TTH15A  4294967295652812500             *NO VAL*
22470   TTH15A  4294967295656718750     63.2608695652174
269198  TTH15A  4294967295687968750           -13.848168
269068  TTH15A  4294967295687968750  -13.848167539267015
96850   TTH15A  4294967295687968750             *NO VAL*
316122  TTH15A  4294967295715312500           -11.492147
343428  TTH15A  4294967295840312500             *NO VAL*
343355  TTH15A  4294967295840312500             *NO VAL*
106321  TTH15A  4294967295898906250   17.246963562753038
100244  TTH15A  4294967295898906250            18.785425
144421  TTH15A  4294967295898906250            15.789474
106369  TTH15A  4294967295898906250            17.246964
106367  TTH15A  4294967295902812500           -13.507853
96992   TTH15A  4294967295902812500    19.51417004048583
96982   TTH15A  4294967295902812500   19.676113360323885
106370  TTH15A  4294967295902812500            18.582996
106319  TTH15A  4294967295902812500  -13.507853403141361
108606  TTH15A  4294967295902812500   21.344086021505376
108920  TTH15A  4294967295902812500            21.344086
106322  TTH15A  4294967295902812500   18.582995951417004

[361611 rows x 3 columns]

In [9]:
# ลบ generatioin_time = 0

# Get names of indexes for which column generation_time has value 0
indexNames = data[data['generation_time']==0].index

# Delete these row indexes from dataFrame
data.drop(indexNames, inplace=True)
data

          name      generation_time            eng_value
61549   TTH15A   315964849320781250            18.502024
192069  TTH15A   315964929320781250            20.322581
130954  TTH15A   315964929320781250            19.352227
130955  TTH15A   315965697320781250            19.311741
192070  TTH15A   315966209320781250            20.268817
192071  TTH15A   315966849320781250            20.322581
130956  TTH15A   315966977320781250            19.271255
192072  TTH15A   315967105320781250            20.268817
130957  TTH15A   315967105320781250            19.311741
130958  TTH15A   315968257320781250            19.271255
192196  TTH15A   315968385320781250             *NO VAL*
192113  TTH15A   315968385320781250             *NO VAL*
192197  TTH15A   315968513320781250             *NO VAL*
192114  TTH15A   315968513320781250             *NO VAL*
192073  TTH15A   315968513320781250            20.215054
192116  TTH15A   315968641320781250             *NO VAL*
192117  TTH15A   315968769320781250             *NO VAL*
192198  TTH15A   315968897320781250             *NO VAL*
192118  TTH15A   315969153320781250             *NO VAL*
192199  TTH15A   315969153320781250             *NO VAL*
192245  TTH15A   315969153320781250             *NO VAL*
192246  TTH15A   315969281320781250             *NO VAL*
130959  TTH15A   315969281320781250            19.230769
192200  TTH15A   315969409320781250             *NO VAL*
192119  TTH15A   315969409320781250             *NO VAL*
192247  TTH15A   315969537320781250             *NO VAL*
192202  TTH15A   315969537320781250             *NO VAL*
192203  TTH15A   315969665320781250             *NO VAL*
193379  TTH15A   315969793320781250             *NO VAL*
192120  TTH15A   315969793320781250             *NO VAL*
...        ...                  ...                  ...
335751  TTH15A  4294967295602031250            18.299595
340467  TTH15A  4294967295648906250   22.204301075268816
340587  TTH15A  4294967295648906250            22.204301
296450  TTH15A  4294967295648906250             *NO VAL*
335752  TTH15A  4294967295648906250            15.668016
335696  TTH15A  4294967295648906250   15.668016194331983
221911  TTH15A  4294967295648906250            19.878543
335703  TTH15A  4294967295652812500   24.408602150537632
34934   TTH15A  4294967295652812500     19.6761133603239
335759  TTH15A  4294967295652812500            24.408602
273148  TTH15A  4294967295652812500             *NO VAL*
22470   TTH15A  4294967295656718750     63.2608695652174
269198  TTH15A  4294967295687968750           -13.848168
269068  TTH15A  4294967295687968750  -13.848167539267015
96850   TTH15A  4294967295687968750             *NO VAL*
316122  TTH15A  4294967295715312500           -11.492147
343428  TTH15A  4294967295840312500             *NO VAL*
343355  TTH15A  4294967295840312500             *NO VAL*
106321  TTH15A  4294967295898906250   17.246963562753038
100244  TTH15A  4294967295898906250            18.785425
144421  TTH15A  4294967295898906250            15.789474
106369  TTH15A  4294967295898906250            17.246964
106367  TTH15A  4294967295902812500           -13.507853
96992   TTH15A  4294967295902812500    19.51417004048583
96982   TTH15A  4294967295902812500   19.676113360323885
106370  TTH15A  4294967295902812500            18.582996
106319  TTH15A  4294967295902812500  -13.507853403141361
108606  TTH15A  4294967295902812500   21.344086021505376
108920  TTH15A  4294967295902812500            21.344086
106322  TTH15A  4294967295902812500   18.582995951417004

[361611 rows x 3 columns]

In [11]:
# remove duplicte values by generation_time  ลบค่าซ้ำ
# data.drop_duplicates(subset ="generation_time", keep = False, inplace = True)
data.drop_duplicates(inplace = True)
data.head()

          name     generation_time  eng_value
61549   TTH15A  315964849320781250  18.502024
192069  TTH15A  315964929320781250  20.322581
130954  TTH15A  315964929320781250  19.352227
130955  TTH15A  315965697320781250  19.311741
192070  TTH15A  315966209320781250  20.268817